* {
  padding: 0;
  margin: 0;
}

.intro {
  &-wrapper {
    display: flex;
    flex-direction: column;

    width: 1024px;
    height: 100%;
    margin: 32px auto 32px;
    border-radius: 5px;

    overflow: hidden;
    box-shadow: 0 0 16px silver;
    transition: all .2s ease-in-out;
    animation: fadeUp 2s cubic-bezier(.19,1,.22,1) forwards;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0)
  }

  to {
    opacity: 1;
    transform: translateZ(0)
  }
}
